<div>
  <h1>PERSONAJES</h1>
</div>



<div class="container" *ngIf="personajes!=null;else espera">
  <div class="row">
    <div class="col-2 m-5" *ngFor="let per of personajes">
      <div class="card d-flex flex-row" style="width: 18rem;">
        <div>
          <img src="{{per.image}}" class="card-img-top">
          <div class="card-body ">
            <h5 class="card-title">{{per.name}}</h5>
            <a [routerLink]="['/informacion', per.id]" class="btn btn-primary" >See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #espera>Esperando datos...</ng-template>
